<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p>Count Page</p>
<p id="cnt"></p>

<script>
    var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/')

    ws.onopen = function(){
        console.log('Websocket Connected...')
        ws.send(JSON.stringify({"message": "Hi, Message from Client..."}))
    }
    ws.onmessage = function(event){
        console.log('Message Received from Server:', event)
        var data = JSON.parse(event.data)
        document.getElementById("cnt").innerText = data.message
    }
    ws.onmerror = function(event){
        console.log('Message Error Occurred:', event)
    }
    ws.onclose = function(event){
        console.log('Websocket Connection Closed...', event)
    }
</script>

</body>
</html>